@import '~@fortawesome/fontawesome-free/css/all.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


:root {
  --bg-color-light: #ffffff;
  --text-color-light: #000000;
  --bg-color-dark: #1a1a1a;
  --text-color-dark: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #1a1a1a; /* Match the background to your theme */
}

/* Apply theme colors to the html and body */
html.light, body.light {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

html.dark, body.dark {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}
